@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Iransans';
    src: local('ّIransans'), url(./assets/fonts/Iranian-Sans.ttf) format('truetype');
  }
@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url(./assets/fonts/Vazir.ttf) format('truetype');
  }
@font-face {
    font-family: 'Yekan';
    src: local('Yekan'), url(./assets/fonts/Yekan.ttf) format('truetype');
  }
@font-face {
    font-family: 'Vazir-Medium';
    src: local('Vazir-Medium'), url(./assets/fonts/Vazir-Medium.ttf) format('truetype');
  }
@font-face {
    font-family: 'Vazir-Thin';
    src: local('Vazir-Thin'), url(./assets/fonts/Vazir-Thin.ttf) format('truetype');
  }
@font-face {
    font-family: 'Vazir-Bold';
    src: local('Vazir-Bold'), url(./assets/fonts/Vazir-Bold.ttf) format('truetype');
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

 @layer base {
    
    body {
        @apply font-['Vazir'] font-[Poppins] m-0 p-0 box-border
    }

    h1 {
      @apply text-3xl font-['Poppins'] md:text-2xl font-bold cursor-pointer
    }

    li {
      @apply p-4
    }

 }